<!DOCTYPE html>
<html>
<head>
    <title>Smiley Demo</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/awesome-all.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script rel="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript">
        var param = {{data|tojson}}; // Retrieve data from main.py (i.e. image size, config parameters)
    </script>
</head>
<body>
<div class="container-fluid">
    <h1>Smiley Recognition</h1>
    <br>
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header">
                    <span>Add to training dataset</span>
                </div>
                <div class="card-body">
                    <div id="categories">
                        <span>Fixed Categories:</span>
                        <div class="fixed-categories row no-gutters text-justify-left"></div>
                        <br>
                        <span>User Categories:</span>
                        <div class="user-categories row no-gutters text-justify-left"></div>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="trainingDataLabel" class="input-group-text">New:</label>
                        </div>
                        <input list="trainingDataLabelOptions" id="trainingDataLabel" placeholder=" e.g. elephant">
                        <datalist id="trainingDataLabelOptions"></datalist>
                        <div class="input-group-append">
                            <button id="addTrainingData" class="btn btn-outline-secondary">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="trainModels" class="relative">
                <div class="label-progress-bar">Start Training</div>
                <div class="progress-bar"></div>
            </div>
            <div class="card">
                <div class="card-header" data-toggle="collapse" href="#trainParameters, #trainToggleArrow">
                    <span>Training Parameters Panel</span>
                    <div class="float-right toggle-arrow collapse" id="trainToggleArrow"></div>
                </div>
                <div id="trainParameters" class="collapse">
                    <form id="config-form">
                        <div class="card-body">
                            <div class="input-group">
                                <div class="input-group-prepend"><label class="input-group-text" for="num-augm">Augmentations per image:</label></div>
                                <input type="number" id="num-augm" class="form-control" value="10">
                                <div class="input-group-append">
                                    <label class="input-group-text" for="num-augm"><i class="fa fa-pen"></i></label>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend"><label class="input-group-text" for="batch-size">Batch size:</label></div>
                                <input type="number" id="batch-size" class="form-control" value="10">
                                <div class="input-group-append">
                                    <label class="input-group-text" for="batch-size"><i class="fa fa-pen"></i></label>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend"><label class="input-group-text" for="sr-rate">Regression learning rate:</label></div>
                                <input type="number" id="sr-rate" class="form-control" value="0.01" step="0.0001">
                                <div class="input-group-append">
                                    <label class="input-group-text" for="sr-rate"><i class="fa fa-pen"></i></label>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend"><label class="input-group-text" for="sr-epochs">Regression epochs:</label></div>
                                <input type="number" id="sr-epochs" class="form-control" value="3">
                                <div class="input-group-append">
                                    <label class="input-group-text" for="sr-epochs"><i class="fa fa-pen"></i></label>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend"><label class="input-group-text" for="cnn-rate">CNN learning rate:</label></div>
                                <input type="number" id="cnn-rate" class="form-control" value="0.0001" step="0.0001">
                                <div class="input-group-append">
                                    <label class="input-group-text" for="cnn-rate"><i class="fa fa-pen"></i></label>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend"><label class="input-group-text" for="cnn-epochs">CNN epochs:</label></div>
                                <input type="number" id="cnn-epochs" class="form-control" value="3">
                                <div class="input-group-append">
                                    <label class="input-group-text" for="cnn-epochs"><i class="fa fa-pen"></i></label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div class="col-xl-4">
            <div class="relative fixed-size">
                <div class="btn-group d-flex">
                    <button id="modeDraw" class="btn btn-outline-secondary w-50">Draw <i class="fa fa-paint-brush"></i></button>
                    <button id="modeCamera" class="btn btn-outline-secondary w-50">Camera <i class="fa fa-camera"></i></button>
                </div>
                <canvas id="main"></canvas>
                <div id="takePhoto" class="circle" style="display: none;"></div>
                <div class="row no-gutters justify-content-between">
                    <button id="clear" class="btn btn-outline-secondary">Clear</button>
                    <button id="classify" class="btn btn-outline-secondary">Classify</button>
                </div>
            </div>
        </div>
        <br>
        <div class="col-xl-4">
            <div>
                <p>network input ({{data.image_size}}x{{data.image_size}} black/white):</p>
                <canvas id="input" width="140" height="140"></canvas>
                <hr>
                <table id="output" class="table"></table>
            </div>
        </div>
    </div>
    <div id="error" class="alert" role="alert">
        <span class="alert-heading">Attention!</span>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p></p>
    </div>
</div>
</body>
</html>
